.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.projects__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.projects__box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    gap: 10px;
    background-color: #29304B;
}
